<div class="login-container">
    <div class="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" @bind="username"/>

        <label for="password">Password:</label>
        <input type="password" id="password" @bind="password"/>

        <button @onclick="HandleSubmit">Login</button>
    </div>
</div>

