// Define SCSS variables
$primary-color: red;
$secondary-color: yellow;
$text-color: red;
$button-hover-color: darkred;
$input-border-radius: 5px;
$button-border-radius: 5px;

// Blue palette
$navy-blue: #1E3A8A;
$light-blue: #DBEAFE;
$blue: #3B82F6;