@page "/"

<p>Esto es un control de este proyecto usando css del NuGet</p>
<StyleTransferDemo.Demo.Controls.Login></StyleTransferDemo.Demo.Controls.Login>

<br />

<p>Esto es un control del NuGet</p>
<StyleTransferDemo.Blazor.controls.Clock></StyleTransferDemo.Blazor.controls.Clock>
